---
import PageLayout from "@/layout/PageLayout.astro";
---

<PageLayout title="About" description="About this project">
  <div class="usa-prose">
    <h1>About this prototype</h1>
    <p class="usa-intro">
      This is a prototype of a tool that the Simpler.Grants.gov team is
      developing to invite community members to help prioritize features in our
      roadmap.
    </p>
    <h2>How it works</h2>
    <p class="width-full">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod.
      Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</PageLayout>
