---
import Layout from "@/layout/Layout.astro";
import { fetchIssues } from "@/lib/github";
import IssueGrid from "@/components/IssueGrid.astro";

const issues = await fetchIssues({
  owner: "agilesix",
  repo: "simpler-grants-sandbox",
  labels: ["help wanted"],
  type: "Deliverable",
});
---

<Layout title="Home" description="Home page">
  <h1>Home</h1>
  <IssueGrid issues={issues} />
</Layout>
