---
import Layout from "@/layout/PageLayout.astro";
import { fetchIssues } from "@/lib/github";
import { IssueGrid } from "@/components/IssueGrid";
import { Alert } from "@trussworks/react-uswds";

const issues = await fetchIssues({
  owner: "agilesix",
  repo: "simpler-grants-sandbox",
  labels: ["proposal"],
  type: "Deliverable",
  test: true,
});
---

<Layout title="Home" description="Home page">
  <div class="usa-prose">
    <h1>Community roadmapping</h1>
    <p class="usa-intro">
      Welcome to the Participatory Budgeting Tools Prototype. This application
      helps communities manage and track participatory budgeting initiatives.
    </p>

    <Alert type="info" heading="Prototype application" headingLevel="h2">
      This is a prototype application. The data shown here is for demonstration
      purposes only.
    </Alert>
    <div class="margin-top-4 margin-bottom-2">
      <h2 class="margin-bottom-0">Roadmap proposals</h2>
      <p class="usa-font-lead margin-top-1">
        The Simpler.Grants.gov team has identified the following items as
        potential priorities for the next 6 months. Please help us prioritize
        these items by voting on the issues you'd like to see addressed first.
      </p>
    </div>
  </div>
  <IssueGrid issues={issues} client:load />
</Layout>
