---
import type { Issue } from "@/types";
import { remark } from "remark";
import html from "remark-html";

interface Props {
  issue: Issue;
}

const { issue } = Astro.props as Props;

// Convert markdown to HTML
const processedContent = await remark().use(html).process(issue.body);
const contentHtml = processedContent.toString();
---

<div class="issue-card">
  <h2>{issue.title}</h2>
  <div set:html={contentHtml} />
  <ul>
    {issue.labels.map((label) => <li>{label.name}</li>)}
  </ul>
</div>
